example.dtd

<!ENTITY % includeExtra "INCLUDE">
<!ENTITY % ignoreExtra "IGNORE">

<![
%includeExtra;
[
<!ELEMENT note (to,
from, heading, body, extra) >
<!ELEMENT extra (#PCDATA)>
]]>

<![%ignoreExtra;[
<!ELEMENT note (to, from, heading, body)>
]]>

<!ELEMENT to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body (#PCDATA)>
